.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-name {
  font-size: 48px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin: 16px 0;
}

.has-gradient-text {
  color: #311e90;
}

.board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;

  .board-bar {
    background: rgba(197, 197, 197, 0.5);
    padding: 12px;
    margin: 0;

    .board-name {
      font-size: 26px;
      font-weight: bold;
      color: white;
      margin: 0;
    }
  }

  .board-wrapper {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;

    .board-columns {
      display: flex;
      flex-grow: 1;

      .board-column {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
        height: fit-content;

        min-width: 300px;
        margin: 50px;
        padding: 25px;

        border-radius: 4px;

        background: rgba(white, 0.5);

        &:not(:first-child) {
          margin-left: 0;
        }

        .column-title {
          font-size: 20px;
          font-weight: 800;
          font-family: "Lato", sans-serif;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
      }
    }

    .mad {
      .task {
        background-color: #5d8c5d;
      }
    }

    .sad {
      .task {
        background-color: #966796;
      }
    }

    .glad {
      .task {
        background-color: #4572c5;
      }
    }
  }
}

.btn {
  width: 100%;
  background: rgba(197, 197, 197, 0.5);
  border: none;
  border-radius: 4px;
  transition: all 0.4s;
  padding: 12px;
  margin-bottom: 12px;

  outline: none;

  &:hover {
    background: rgba(160, 160, 160, 0.5);
  }
}

.create-new-task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;

  input {
    width: 75%;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 10px;
  }

  button {
    width: 20%;
  }
}

.tasks-container {
  flex-grow: 1;
  overflow-y: auto;
}

.task {
  display: block;
  padding: 15px 12px;
  background: white;
  border-bottom: solid 1px #ddd;
  border-radius: 4px;

  margin-bottom: 15px;

  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
    0 3px 14px 2px rgba(0, 0, 0, 0.05);

  .title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 6px;
  }

  .options {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 18px;
  }

  .option {
    display: flex;
    align-items: center;
    color: #fff;

    padding-left: 14px;
  }

  .count {
    padding-left: 4px;
  }

  button {
    height: 18px;
    border: none;
    background: none;
    outline: none;
  }

  .user-comment {
    background: rgb(1 6 16 / 15%);
    border-radius: 4px;
    padding: 6px;
    margin-bottom: 6px;
  }

  .add-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    input {
      width: 85%;
      border: 1px solid #000;
      border-radius: 4px;
      outline: none;
      background: rgb(6 6 6 / 20%);
      padding: 6px;
    }

    button {
      width: 10%;
      font-size: 18px;
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
