<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">EasyRetro
        </h1>
      </div>
    </div>
  </div>

  <div class="board">
    <div class="board-bar">
      <p class="board-name">{{ board.name }}</p>
    </div>

    <div class="board-wrapper">
      <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of board.columns">
          <div [class]="column.name.toLowerCase()">
            <div class="column-title">
              {{ column.name }}
            </div>

            <div class="add-task">
              <button class="btn" (click)="viewInputTask(column.name)">+</button>
            </div>

            <div class="create-new-task" *ngIf="column.name === columnName">
              <input type="text" [(ngModel)]="taskName">
              <button (click)="createTask()">OK</button>
            </div>

            <div class="tasks-container" cdkDropList [cdkDropListData]="column.tasks"
              (cdkDropListDropped)="drop($event)">
              <div class="task" *ngFor="let item of column.tasks" cdkDrag>
                <div class="title">
                  <p>{{ item.name }}</p>
                  <button (click)="renameTask(column.name, item)">
                    <svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 24 24" width="16">
                      <path d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" />
                    </svg>
                  </button>
                </div>
                <div class="options">
                  <div class="like option">
                    <button (click)="addLike(column.name, item)">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="18px"
                        height="18px">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path
                          d="M13.11 5.72l-.57 2.89c-.12.59.04 1.2.42 1.66.38.46.94.73 1.54.73H20v1.08L17.43 18H9.34c-.18 0-.34-.16-.34-.34V9.82l4.11-4.1M14 2L7.59 8.41C7.21 8.79 7 9.3 7 9.83v7.83C7 18.95 8.05 20 9.34 20h8.1c.71 0 1.36-.37 1.72-.97l2.67-6.15c.11-.25.17-.52.17-.8V11c0-1.1-.9-2-2-2h-5.5l.92-4.65c.05-.22.02-.46-.08-.66-.23-.45-.52-.86-.88-1.22L14 2zM4 9H2v11h2c.55 0 1-.45 1-1v-9c0-.55-.45-1-1-1z" />
                      </svg>
                    </button>
                    <span class="count">{{item.likes}}</span>
                  </div>

                  <div class="comment option">
                    <button (click)="openCommentField(item)">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="18px"
                        height="18px">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                          d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 12H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z" />
                      </svg>
                    </button>
                    <span class="count"></span>
                  </div>
                </div>

                <div class="add-comment" *ngIf="item.name === taskName">
                  <input type="text" [(ngModel)]="commentText">
                  <button (click)="addComment(column.name, item)">Add</button>
                </div>

                <div class="comments" *ngFor="let c of item.comments">
                  <p class="user-comment">{{c}}</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>