/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:400,800,900");

$family-sans-serif: "Nunito", sans-serif;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  background: #f3f3f3;
  background-size: cover;

  font-family: $family-sans-serif;

  overflow-y: auto !important;
}
